<div class="row">
    <div class="col-md-5">
        <h2>Task List</h2>
        <!-- search -->
        <div class="row">
            <div class="col-md-5">
                <div class="input-group">
                    <!-- <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" (click)="searchTasks()">Search</button>
                </div> -->
                    <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search tasks"
                        (keyup.enter)="searchTasks()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="searchTasks()">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-5 d-flex justify-content-between">
                <button class="btn btn-primary" (click)="createNewTask()">Create New Task</button>
            </div>
            <div class="col text-right" style="padding-right: 12px;">
                <button class="btn btn-secondary" (click)="generatePDF()">Generate PDF Report</button>
            </div>
        </div>
        <hr>

        <app-task-item *ngFor="let task of filteredTasks,let i = index" [task]="task" [id]="task.id"
            (taskSelected)="onTaskSelected($event)">
        </app-task-item>
        <br>
        <div *ngIf="selectedTaskId !== null">
            <p>The following is for demonstration purposes to showcase the use of @Output</p>
            <p>You clicked on the task with ID: {{ selectedTaskId }}</p>
        </div>

    </div>

    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>


</div>