.edit-task-container {
  max-width: 500px;
  /* Adjust to your preferred maximum width */
  margin: 0 auto;
  /* Center the content horizontally */
}

button.btn.btn-primary {
  background-color: #007bff;
  color: #fff;
  /* padding: 10px 15px; */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button.btn.btn-primary:hover {
  background-color: #0056b3;
}

.input-group {
  display: flex;
  align-items: center;
  /* Align items vertically */
}

.input-group .form-control {
  flex-grow: 1;
  /* Allow the input to grow and take remaining space */
  margin-right: 5px;
  /* Adjust margin between input and button */
}