.edit-task-container {
  max-width: 500px;
  margin: 0 auto;
}

button.btn.btn-primary {
  background-color: #007bff;
  color: #fff;
  /* padding: 10px 15px; */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button.btn.btn-primary:hover {
  background-color: #0056b3;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .form-control {
  flex-grow: 1;
  margin-right: 5px;
}
