<div class="row">
    <div class="col-md-5">
        <h2>User List</h2>
        <!-- search -->
        <div class="row">
            <div class="col-md-5">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search users">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="searchUsers()">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <h2 style="margin-left: 15px;">Users</h2>
            <div class="col-md-5 d-flex justify-content-between">
                <button class="btn btn-primary" (click)="createNewUser()" style="margin-bottom: 10px;">Create New
                    User</button>
            </div>
            <div class="col text-right" style="padding-right: 12px;">
                <button class="btn btn-secondary" (click)="generatePDF()">Generate PDF Report</button>
            </div>

        </div>
        <hr>

        <app-user-item *ngFor="let user of filteredUsers, let i = index" [user]="user" [id]="user.id"
            (userSelected)="onUserSelected($event)">
        </app-user-item>
        <br>

        <div *ngIf="selectedUserId !== null">
            <p>The following is for demonstration purposes to showcase the use of @Output</p>
            <p>You clicked on the task with ID: {{ selectedUserId }}</p>
        </div>
    </div>

    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
</div>