<div class="list-group-item clearfix" [ngClass]="getStatusClass(task)" (click)="navigateToDetails(task.id)" style="cursor: pointer">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ task.description }}</h4>
        <p class="list-group-item-text">Due by: {{ task.dueDate }}</p>
    </div>
    <span class="pull-right">
        <span class="pull-right" class="badge" style="margin-right: 5px;">
            {{ task.status }}
        </span>
        <button (click)="emitSelectedTask()">@Output demo</button>
    </span>
</div>