<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Task</th>
            <th>Time of assignment</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let assignment of assignments">

            <td id="userCell"> {{ getUserName(assignment.userId) }}</td>
            <td id="taskCell">{{ getTaskDescription(assignment.taskId) }}</td>
            <td id="otherCell">{{assignment.timestamp | date : "dd.MM.yyyy HH:mm"}}</td> 
            <td> <button class="btn btn-primary" (click)="editAssignemnt()">edit</button></td>
            <td> <button class="btn btn-danger" (click)="deleteAssignemnt()">delete</button></td>
        </tr>
    </tbody>
</table>

<hr>
    <p>
        Here you can assign user to task.
    </p>

<div class="dropdown-container">
    <div class="dropdown">
        <label for="userDropdown">User:</label>
        <select id="userDropdown" [(ngModel)]="assignment.userId">
            <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
            <!-- <option value="2">User 2</option> -->
            <!-- <option value="3">User 3</option> -->
        </select>
    </div>

    <div class="dropdown">
        <label for="taskDropdown">Task:</label>
        <select id="taskDropdown" [(ngModel)]="assignment.taskId">
            <option *ngFor="let task of tasks" [value]="task.id">{{ task.description }}</option>
        </select>
    </div>
</div>

<button class="btn btn-primary" (click)="createNewAssignment()"> Assign </button>

<!-- Beispiel: Anzeige der gefilterten Aufgaben in einer Liste -->
<ul>
    <li *ngFor="let assignment of filteredAssignments">
      {{ assignment.timestamp }}
    </li>
</ul>  

<div> <input type="date" class="form-control" [(ngModel)]="filteredDate" />
</div>

<button (click)="searchAssignmentsWithDate()">Search by date</button>
