<div class="row">
    <div class="col-md-2">
        <h2>Assignments</h2>
        <div>
            <input type="date" class="form-control" [(ngModel)]="filteredDate" />
        </div>
        <button (click)="searchAssignmentsWithDate()">Search by date</button>
    </div>
</div>
<hr>
<p>
    Here you can assign user to task.
</p>

<div class="col text-right" style="padding-right: 12px;">
    <button class="btn btn-secondary" (click)="generatePDF()">Generate PDF Report</button>
</div>

<div class="dropdown-container">
    <div class="dropdown">
        <label for="userDropdown">User:</label>
        <select id="userDropdown" [(ngModel)]="assignment.userId">
            <option *ngFor="let user of users" [value]="user.id"[attr.selected]="user.id === assignment.userId ? true : null">{{ user.name }}</option>
            <!-- <option value="2">User 2</option> -->
            <!-- <option value="3">User 3</option> -->
        </select>
    </div>

    <div class="dropdown">
        <label for="taskDropdown">Task:</label>
        <select id="taskDropdown" [(ngModel)]="assignment.taskId">
            <option *ngFor="let task of tasks" [value]="task.id"[attr.selected]="task.id === assignment.taskId ? true : null">{{ task.description }}</option>
        </select>
    </div>
</div>

<button class="btn btn-primary" (click)="createNewAssignment()"> Assign </button>

<div class="row">
    <div class="col-md-5">
        <table class="assignment-table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Task</th>
                    <th>Time of assignment</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr assignmentItem
                    *ngFor="let assignment of filteredAssignments" [assignment]="assignment"
                    (assignmentSelected)="onAssignmentSelected($event)" style="cursor: pointer;">
                </tr>
            </tbody>
        </table>
        <div *ngIf="selectedAssignmentId !== null">
            <p>
                The following is for demonstration purposes to showcase the use of @Output.
            </p>
            <p>
                You clicked on the assignment with Id: {{selectedAssignmentId}}
            </p>
        </div>
    </div>
    <div class="col-md-5">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- (click)="navigateToDetails(assignment.id) -->