<div class="row">
    <div class="col-xs-12">
        <h2>{{ editMode ? 'Create New User' : 'Edit User'  }}</h2>
        <form (ngSubmit)="onFormSubmit()" #editUserForm="ngForm">
          <div class="name">
            <label for="name">User Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              [(ngModel)]="user.name"
              required
            />
          </div>
          <div class="form-group">
            <label for="role">Role</label>
            <input
              type="text"
              class="form-control"
              id="role"
              name="role"
              [(ngModel)]="user.role"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">eMail</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="user.email"
              required
            />
          </div>
            <button *ngIf="editMode === 'new'" type="submit" class="btn btn-primary">Create User</button>
            <button *ngIf="editMode !== 'new'" type="submit" class="btn btn-primary">Update User</button>
        </form>


    </div>
    
  </div>
  