<div class="list-group-item clearfix" [ngClass]="getRoleClass(user)" (click)="navigateToDetails(user.id)" style="cursor: pointer">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ user.name }}</h4>
        <p class="list-group-item-text">Responsible contact details: {{ user.email }}</p>
    </div>
    <span class="pull-right">
        <span class="pull-right" class="badge" style="margin-right: 5px;">
            {{ user.role }}
        </span>
        <button (click)="emitSelectedTask()">@Output demo</button>
        
    </span>
</div>