<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </button>
            <a href="#" class="navbar-brand">To-Do Manager</a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/tasks" style="cursor: pointer"
                        (click)="onTasks()">Tasks</a></li>
                <li routerLinkActive="active"><a routerLink="/users" style="cursor: pointer"
                        (click)="onUsers()">Users</a></li>
                <li routerLinkActive="active"><a routerLink="/assignments" style="cursor: pointer">Assignments</a></li>
            </ul>
        </div>
    </div>
</nav>